table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    font-size: 0.9em;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.displayusers{
    margin-left: 1%;
    margin-right: 1%;
}