.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  40px 1fr 40px;
  grid-template-areas: 
                        "header   "
                        " main  "
                        "footer  ";
  grid-row-gap: 50px;
  min-height: 100vh;
  background-color: #F1F8FD;
}
.App-header {
  background-color: #33619D;
  padding-top: 9px;
  grid-area: header;
  color: white; 
}
.App-intro{
  grid-area: main;
}
.App-footer{
  padding-top: 12px;
  padding-left: 10px;
  background-color: #33619D;
  color: white;
  grid-area: footer;
  font-size: .8em;
  text-align: left;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas:    
                            ". . name . ."
                            
                            ". . password . ."
                            
                            ". . login . ."
                            ". . . . ."
                            ". .  browser . .";
  }
  .username {
    align-self: center;
    text-align: center;
    justify-self: center;
    font-size: 0.8em;
    grid-area: name;
  }
  .password {
    grid-area :password;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 0.8em;
  }
  .loginbutton {
    grid-area :login;
    align-self: center;
    justify-self: center;
    font-size: 0.8em;
    color: black;
    height: 30px;
    width:100px;
  }
  .browser {
    grid-area: browser;
    text-align: center;
    align-self: center;
    color: #8a6d3b;
    font-size: 0.9em;
  }