.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  60px 1fr 40px;
  grid-template-areas: 
                        "header"
                        "main"
                        "footer";
  grid-row-gap: 50px;
  min-height: 100vh;
  background-color: #F1F8FD;
}
.App-header {
  background-color: #333;
  padding-top: 17px;
  grid-area: header;
  color: white; 
  font-size: 1.5em;
}
.App-footer{
  padding-top: 12px;
  padding-left: 10px;
  background-color: #333;
  color: white;
  grid-area: footer;
  font-size: .8em;
  text-align: left;
}
  .username {
    text-align: center;
    font-size: 1.2em;
  }
  .password {
    text-align: center;
    font-size: 1.2em;
  }
  .loginbutton {
    align-self: center;
    font-size: 1.2em;
    background-color: #8fcf00;
    color: white;
  }
  .browser {
    color: #8a6d3b;
    font-size: 0.9em;
  }