
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas:    ". . . . ."
                            ". . name . ."
                            
                            ". . password . ."
                            
                            ". . login . ."
                            ". . . . ."
                            ". .  browser . .";
    grid-gap : 15px;
  }
  .username {
    align-self: center;
    text-align: center;
    justify-self: center;
    font-size: 1.2em;
    grid-area: name;
    height: 30px;
    width:250px;
  }
  .password {
    grid-area :password;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 1.2em;
    width:250px;
    height: 30px;
  }
  .loginbutton {
    grid-area :login;
    align-self: center;
    justify-self: center;
    font-size: 1.2em;
    background-color: #8fcf00;
    color: white;
    height: 30px;
    width:100px;
  }
  .browser {
    height: 30px;
    width:250px;
    grid-area: browser;
    text-align: center;
    align-self: center;
    color: #8a6d3b;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 0.9em;
  }