.main {
    padding-top: 80px;
    min-height: 100vh;
    background-color: #F1F8FD;
  }
.main-body{
    grid-area: main;
}
.main-footer{
    color: white;
    text-align: left;
  }
.results{
  padding-left: 10px;
}

.userAdminButtons{

  padding-left: 198px;
}


.container-fluid {
  background-color: green;
}