.main {
    padding-top: 80px;
    min-height: 100vh;
    background-color: #F1F8FD;
  }
.main-body{
    grid-area: main;
}
.main-footer{
    color: white;
    text-align: left;
  }
.results{
  padding-left: 10px;
}
.userAdminButtons{
  padding-left: 198px;
}
.container-fluid {
  background-color: #33619D;
}
.headerText{
  color: white !important;
}
.navbar-default .navbar-nav > li > a {
  color: white !important;
  font-size: 1.1em;
}
.selectBox{
  height: 30px;
  width: 300px;
}
.results{
   color: black;
   font-size: 1.1em;
}