.main {
    text-align: center;
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    grid-template-rows:  60px 1fr 40px;
    grid-template-areas: 
                          "logo nav nav"
                          "main main main"
                          "footer footer footer";
    grid-row-gap: 50px;
    min-height: 100vh;
    background-color: #F1F8FD;
  }
  .main-logo{
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 8px;
    grid-area: logo;
    background-color: #33619D;
    max-height: 100% ;
  }
  .main-nav{
    display: flex; 
    max-height: 100% ;
    padding-top: 20px;
    background-color: #33619D;
    grid-area: nav;
    color:white;
 
   
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    
    margin: 2px;
    display: block;
    
}
.logout{
    margin-right: 1px;
}
a {
    color:white;
    text-decoration: none;
    padding: 23px;
}
a:hover{
    background-color: lightgray;
    color: black;
}
.main-body{
    grid-area: main;
}
.main-footer{
    display: flex;
    padding-top: 12px;
    padding-left: 10px;
    background-color: #33619D;
    color: white;
    grid-area: footer;
    font-size: .8em;
    text-align: left;
  }

  .App-intro{
    grid-area: main;
  }

  .useradmin{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
  }
  .programmeSearch{
    display: flex;
    flex-wrap: wrap;
    
    
  }
  .form{
      grid-area: search;
  }
  .submit{
      grid-area: submit;
      
  }
  .reset{
    grid-area: reset;
}
.from{
    grid-area: from;
    
}
.to{
    grid-area: to;
    
    height: 25px;
}
  .results{
    grid-area: results;
}
.displayusers{
    grid-area: results;
}
.displayprogrammes{
    grid-area: results;
}
.networks{
    text-align: left;
    margin: auto; 

}
.indies{
    text-align: left;
    margin: auto; 
    flex-basis: 100px;

    
}
.productions{
    text-align: left;
    margin: auto; 
}

.usersearch{
    text-align: center;
    margin: auto; 
}
option{
    font-family: arial, sans-serif;
}

