.programmeSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-right: 50px;
    padding-bottom: 50px; 
    max-height: 45px;
    justify-items: end;
    
  }
