form {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 16px;
}
label {
    grid-column: 1 / 2;
}
 
input,
button {
    grid-column: 2 / 3;
}

.userDetails{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
}

