.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  60px 1fr 40px;
  grid-template-areas: 
                        "logo header header header header header header header header header header headerside "
                        "main main main main main main main main main main main main"
                        "footer footer footer footer footer footer footer footer footer footer footer footer ";
  grid-row-gap: 50px;
  min-height: 100vh;
  background-color: #F1F8FD;
}
.App-logo{
  padding-top: 20px;
  padding-left: 10px;
  grid-area: logo;
}
.App-nav{
  max-height: 100% ;
  background-color: #33619D;
  grid-area: logo;
}
.App-header {
  background-color: #33619D;
  padding-top: 17px;
  grid-area: header;
  color: white; 
}
.App-headerside{
  background-color: #33619D;
  grid-area: headerside;
}
.App-title {
  font-size: 1.5em;
}
.App-intro{
  grid-area: main;
}
.App-footer{
  padding-top: 12px;
  padding-left: 10px;
  background-color: #33619D;
  color: white;
  grid-area: footer;
  font-size: .8em;
  text-align: left;
}
